/* Estilos generales para el contenedor principal */
.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.col-md-5,
.col-md-7 {
  flex-basis: 45%;
}

.card {
  margin: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.btn {
  margin-top: 10px;
}
